/** Import the shared style */
@import "custom_props";

// This stylesheet is used to style the admin of WordPress.

// Dashboard
#dashboard_right_now a.demo-count::before {
	content: "\f115";
}

input[type="checkbox"],
input[type="radio"] {
	border: 1px solid #637381;
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: middle;
}
input[type="radio"] + label span {
	transition: background 0.2s, transform 0.2s;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span {
	transform: scale(1.2);
}

input[type="radio"]:checked + label span {
	background-color: #3490dc; //bg-blue
	box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked {
	border-color: #22577a;
}
input[type="radio"]:checked::before {
	background-color: #22577a;
	width: 0.7rem;
	height: 0.7rem;
	margin: 0.3344rem;
}
input[type="radio"]:focus {
	border-color: #22577a;
	outline: none;
	box-shadow: none;
}
input[type="text"],
input[type="search"] {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border: 1px solid rgba(241, 243, 247, 1);
}
input[type="color"] {
	border: none;
	border-radius: 4px;
}
.color-input-container {
	position: relative;
	display: inline-block;
}

.color-input-container input[type="color"] {
	// padding: 16.5px; /* Reserve space for the pen icon */
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: #b7b7b7;
	border: 0;
	cursor: pointer;
	// height: 15em;
	padding: 0;
	color: #110ee4;
	border: 1.5px solid #b7b7b7;
	outline: none;
	cursor: pointer;
}

/* Style for the pen icon */
.color-input-container .pen-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #df2d2d; /* Adjust the icon color as needed */
	font-size: 20px; /* Adjust the icon size as needed */
	cursor: pointer;
}

*:focus {
	border-radius: 4px;
	outline: none;
}

::-webkit-color-swatch-wrapper {
	padding: 0;
}

::-webkit-color-swatch {
	border: 0;
	border-radius: 4px;
}

::-moz-color-swatch,
::-moz-focus-inner {
	border: 0;
}

::-moz-focus-inner {
	padding: 0;
}
