/** Import the shared style */
@import "custom_props";

// This stylesheet is used to style the admin of WordPress.

// Dashboard
#dashboard_right_now a.demo-count::before {
	content: "\f115";
}

input[type="checkbox"],
input[type="radio"] {
	border: 1px solid #637381;
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: middle;
}
input[type="radio"] + label span {
	transition: background 0.2s, transform 0.2s;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span {
	transform: scale(1.2);
}

input[type="radio"]:checked + label span {
	background-color: #3490dc; //bg-blue
	box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked {
	border-color: #22577a;
}
input[type="radio"]:checked::before {
	background-color: #22577a;
	width: 0.7rem;
	height: 0.7rem;
	margin: 0.3344rem;
}
input[type="radio"]:focus {
	border-color: #22577a;
	outline: none;
	box-shadow: none;
}
input[type="text"],
input[type="search"] {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border: 1px solid rgba(241, 243, 247, 1);
}
